// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/// Load custom modules
@use '../abstracts' as a;

#app {
  display: grid;
  grid-template-areas:
    'header header'
    'nav main'
    'nav footer';
  grid-template-rows: 5rem 1fr 2rem;
  grid-template-columns: 1fr 3fr;

  & > .header {
    grid-area: header;
  }
  & > .nav {
    grid-area: nav;
  }
  & > .main {
    grid-area: main;
  }
  & > .footer {
    grid-area: footer;
  }
}
