// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/// Load custom modules
@use '../abstracts/' as a;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
