// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/// Load custom modules
@use '../abstracts' as a;

.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  .menu-toggle {
    min-width: 1rem;
    min-height: 1rem;
    background-image: a.image('menu.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  .page-title {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
      margin: 0.625rem;
      min-width: 1rem;
      min-height: 1rem;
      background-image: a.image('logo.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
